:root {
  /** Font Family */
  --font-base: 'Noto Sans JP', sans-serif;

  /** z-index */
  --z-index-sm: 10;
  --z-index-md: 100;
  --z-index-lg: 1000;
  --z-index-xl: 10000;
  --z-index-2xl: 100000;
  --z-index-3xl: 1000000;
}
